body {
    font-family: Arial, sans-serif;
background-color: rgb(4, 4, 96);
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.imagem {
    position: absolute;
    width: 380px;
    height: 305px;
    margin: 40px ;
    margin-bottom: 30px;
   
}

#image1 {
    position: absolute;
    width: 300px;
    height: 300px;
    margin: 40px ;
    margin-top: 90px;
}

.quiz-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 580px;
    font: 550 110% "Italianno-Regular";
}

.question {
    margin-bottom: 300px;
   padding: 40px;
}

button {
    background-color: rgb(4, 4, 96);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 300px;
}

button:hover {
    background-color: #0056b3;
}

#result {
    margin-top: 30px;
    font-weight: bold;
  margin-left: 170px;
}

.butao {
    display: flex;
    align-items: center;
    justify-content: center;
}

@font-face {
    font: "Italianno-Regular";
  src: url(Italianno-Regular.ttf);
}